@import url(https://fonts.bunny.net/css?family=roboto:100,300,400,700);
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .pin-spacer {
    max-width: 100vw;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .pin-spacer {
    max-width: 100vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pin-spacer {
    max-width: 100vw;
  }
}
@media screen and (min-width: 441px) and (max-width: 767px) {
  .pin-spacer {
    max-width: 100vw;
  }
}
@media screen and (min-width: 351px) and (max-width: 440px) {
  .pin-spacer {
    max-width: 100vw;
  }
}
@media screen and (max-width: 350px) {
  .pin-spacer {
    max-width: 100vw;
  }
}

* {
  margin: 0;
}

html {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2559px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1681px) and (max-width: 1919px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 441px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 351px) and (max-width: 440px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 15px;
  }
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

.fadeover {
  position: fixed;
  background: #fcfcfa;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999;
  transition: all 1s ease;
}

.fadeover.hidden {
  transition: all 1s ease;
  opacity: 0;
  pointer-events: none;
}

#contento {
  background: #fcfcfa;
  width: 100vw;
  max-width: 100vw;
}

.max_contain {
  max-width: 1440px;
  margin: 0 auto;
}

.james_zone {
  position: fixed;
  bottom: 0;
  right: -50%;
  z-index: 99;
  width: 50%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.james_zone .james_circle {
  z-index: 1;
}
.james_zone .james_circle img {
  max-width: 30rem;
  position: absolute;
}
.james_zone .james_circle .james_head {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/james.png");
  padding: 2rem;
  position: absolute;
  bottom: 0;
  transform: scale(1);
  filter: saturate(1);
  transition: all 0.1s ease;
  z-index: 999;
}
@media screen and (min-width: 1366px) {
  .james_zone .james_circle .james_head {
    right: 5%;
    bottom: 0;
  }
}
@media screen and (max-width: 1365px) {
  .james_zone .james_circle .james_head {
    right: 10%;
    bottom: 0;
  }
}
.james_zone .james_circle .james_head .head_sizer {
  opacity: 0;
  max-width: 14rem;
  position: relative;
}
.james_zone .james_circle .james_head:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: saturate(0);
  transition: all 0.1s ease;
}
.james_zone .james_circle .james_speech {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/speech_balloon_large.png");
  padding: 2rem;
  position: absolute;
  max-width: 40rem;
  bottom: 30%;
  right: 5%;
}
.james_zone .james_circle .james_speech p {
  max-width: 22rem;
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: calc(1.1rem + 0.1vw);
  text-align: center;
  color: #052f3f;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.james_zone .james_circle .james_speech p span.click_me {
  display: block;
  margin-top: 1rem;
  font-size: calc(0.7rem + 0.1vw);
}
.james_zone .james_circle .james_speech .speech_sizer {
  opacity: 0;
  max-width: 25rem;
  position: relative;
}
.james_zone .james_side {
  height: 100%;
  position: absolute;
  right: -150%;
  visibility: none;
  pointer-events: none;
  transition: all 0.2s ease;
  background: #fff;
  padding: 2rem;
  max-width: 40rem;
  display: flex;
  align-items: center;
}
.james_zone .james_side p {
  font-size: calc(1.1rem + 0.1vw);
  text-align: center;
  color: #052f3f;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.james_zone .james_side p strong {
  font-weight: 800;
}
.james_zone .james_side.shown {
  height: 100%;
  position: absolute;
  right: 0%;
  visibility: visible;
  pointer-events: all;
  transition: all 0.2s ease;
}

.james_zone.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: all !important;
  right: 0%;
  transition: all 0.2s ease;
}

/********************/
/*** ********** *****/
/********************/
.xray_content {
  opacity: 0;
  pointer-events: none;
  visibility: none;
  position: absolute;
  z-index: 99;
  top: 50rem;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  height: 100vh;
}
.xray_content li {
  list-style-type: none;
  position: absolute;
}
.xray_content li div.node {
  height: 2rem;
  width: 2rem;
  background-image: url("../../assets/painbutton.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.xray_content li div.node_text {
  background-image: url("../../assets/pain_balloon.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  display: none;
}
.xray_content li div.node_text p {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  max-width: 14rem;
  padding: 2rem;
  font-size: calc(0.8rem + 0.1vw);
}
.xray_content li div.node_text .speechdummy {
  opacity: 0;
  position: relative;
  max-width: 16rem;
}
.xray_content li div.node_text.node_high {
  background-image: url("../../assets/pain_balloon_high.png");
}
.xray_content li div.node_text.node_high p {
  top: 22%;
  font-size: calc(0.8rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.xray_content li div.node_text.node_med {
  position: absolute;
  bottom: 100%;
}
.xray_content li div.node_text.node_med p {
  top: 0%;
  font-size: calc(0.8rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.xray_content li div.node_text.node_low {
  position: absolute;
  bottom: 100%;
}
.xray_content li div.node_text.node_low p {
  top: -5%;
  font-size: calc(0.8rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.xray_content li:nth-child(1) {
  top: 5%;
  left: 40%;
}
.xray_content li:nth-child(2) {
  top: 30%;
  left: 20%;
}
.xray_content li:nth-child(3) {
  top: 40%;
  left: 70%;
}

.xray_content.showzone {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: 0.2s ease;
}

section.mainbuilding {
  padding-top: 5rem;
  margin: 0;
  left: 0 !important;
  position: relative;
}
section.mainbuilding .halfbuilding {
  width: 50rem;
  position: relative;
  left: 0 !important;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding {
  width: 100%;
  z-index: 2;
  position: relative;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding img.building_layer_top {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding img.building_layer_middle {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .solarpanels {
  opacity: 1;
  background-size: contain;
  background-position: 0% center;
  background-repeat: no-repeat;
  background-image: url("../../assets/solarpanels.png");
  top: -6rem;
  left: 28%;
  z-index: 120;
  position: absolute;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .solarpanels img {
  opacity: 0;
  height: auto;
  width: 50%;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .lift {
  background-size: contain;
  background-position: 10% center;
  background-repeat: no-repeat;
  background-image: url("../../assets/lift.png");
  top: 6%;
  right: 6%;
  z-index: 10;
  position: absolute;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .lift img {
  opacity: 0;
  height: 8rem;
  width: 8rem;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .shine {
  background-size: contain;
  background-position: 10% center;
  background-repeat: no-repeat;
  background-image: url("../../assets/shine.png");
  top: 6%;
  left: 83%;
  z-index: 130;
  position: absolute;
  opacity: 0;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .shine img#shine {
  opacity: 0;
  height: 28rem;
  width: 28rem;
}
section.mainbuilding .halfbuilding figure.maincolourbuilding .shine img#beams {
  width: 8rem;
  position: absolute;
  top: 35%;
  left: 5%;
  -ms-animation: move 0.3s infinite alternate;
  -webkit-animation: move 0.3s infinite alternate;
  -moz-animation: move 0.3s infinite alternate;
}
@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section.mainbuilding .halfbuilding img.xraybuilding {
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  opacity: 0;
}

/********************/
/*** ********** *****/
/********************/
.clouds {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.clouda {
  width: 30rem;
  height: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/cloud_a.png");
  animation-iteration-count: infinite;
  animation: lefttoright 40s infinite;
}

@keyframes lefttoright {
  0% {
    transform: translateX(30vw);
  }
  50% {
    transform: translateX(130vw);
  }
  100% {
    transform: translateX(30vw);
  }
}
/********************/
/*** ********** *****/
/********************/
.rightsidestuff {
  position: fixed;
  top: 25vh;
  right: 15%;
  width: 70%;
  max-width: 45rem;
  text-align: left;
  z-index: 999;
}

.rightsidebuttons {
  top: 0;
  right: 10%;
  max-width: 25rem;
  text-align: left;
  position: absolute;
}
.rightsidebuttons h3 {
  color: #052f3f;
  font-size: calc(3rem + 0.1vw);
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}
.rightsidebuttons ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.rightsidebuttons ul li {
  list-style-type: none;
  text-align: revert;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.rightsidebuttons ul li a {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.rightsidebuttons ul li a:hover {
  cursor: pointer;
}
.rightsidebuttons ul li a span, .rightsidebuttons ul li a .checkbox {
  display: block;
}
.rightsidebuttons ul li a span {
  margin-left: 1rem;
  font-weight: 400;
  color: #052f3f;
  font-size: calc(1.75rem + 0.1vw);
}
.rightsidebuttons ul li a .checkbox {
  background-size: contain;
  background-position: 0% center;
  background-repeat: no-repeat;
  background-image: url("../../assets/checker_1.png");
  height: 2rem;
  width: 2rem;
  display: block;
}
.rightsidebuttons ul li a.active .checkbox:before {
  content: "";
  background-size: contain;
  background-position: 0% -5%;
  background-repeat: no-repeat;
  background-image: url("../../assets/check.png");
  height: 3rem;
  width: 3rem;
  display: block;
  top: -0.5rem;
  left: -0.5rem;
  position: absolute;
}

.rightsidebuttons.hidden_rightside_buttons {
  display: none;
}

/********************/
/*** ********** *****/
/********************/
.choice_stuff {
  position: absolute;
  top: 0;
  right: 2%;
  width: 60%;
  max-width: 25rem;
  text-align: right;
  z-index: 998;
  opacity: 0;
  pointer-events: none;
}
.choice_stuff .choice_text {
  min-height: 40rem;
}
.choice_stuff #choice_texto p {
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: calc(1.2rem + 0.1vw);
  max-width: 30rem;
  text-align: center;
}
.choice_stuff .zone_button {
  height: 7.5rem;
  width: 7.5rem;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/round_scroll_text.png");
  display: none;
}

.choice_stuff.active_stuff {
  opacity: 1;
  pointer-events: all;
}

/********************/
/*** ********** *****/
/********************/
div.between_message {
  position: relative;
  height: 60rem;
  background: #e4dfd9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100%;
}
div.between_message .top_white_wave {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/top_white_wave.svg");
  width: 100%;
  position: absolute;
  height: 19rem;
  top: 0rem;
}
div.between_message h2 {
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: calc(2rem + 0.1vw);
  max-width: 70%;
  text-align: center;
}
div.between_message .bottom_wave {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/top_blue_wave.svg");
  width: 100%;
  position: absolute;
  height: 15rem;
  bottom: 0rem;
  left: 0;
  z-index: 9;
}

/********************/
/*** ********** *****/
/********************/
section#machines {
  left: 0 !important;
  position: relative;
  padding-top: 15rem;
  height: 150vh;
  min-height: 90rem;
  background: #052f3f;
}
section#machines .goahead {
  border: 1px solid #fff;
  padding: 1rem;
  opacity: 0;
}
section#machines .goahead p {
  font-size: calc(2rem + 0.1vw);
  color: #fff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  max-width: 70%;
  text-align: center;
}
section#machines .overcream {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fcfcfa;
  opacity: 0;
}
section#machines .element_holder {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section#machines .element_holder .element {
  margin: 3rem;
  position: relative;
}
section#machines .element_holder .element .hovertoshowtext_senddata {
  position: absolute;
  top: -13rem;
  width: 15rem;
  height: 15rem;
  left: -2rem;
  z-index: 9;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines {
  background-image: url("../../assets/pain_balloon_left.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines div {
  position: absolute;
  top: 0%;
  left: 5%;
  max-width: 14rem;
  padding: 2rem;
  font-size: calc(0.8rem + 0.1vw);
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines div p {
  font-size: calc(0.7rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines div p.send_data {
  background: #052f3f;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines div p.send_data:hover {
  cursor: pointer;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines button {
  position: absolute;
  bottom: 3rem;
  background: #052f3f;
  border: none;
  padding: 0.5rem 1rem;
}
section#machines .element_holder .element .hovertoshowtext_senddata div.node_text_machines .speechdummy {
  opacity: 0;
  position: relative;
  max-width: 16rem;
}
section#machines .element_holder .element img {
  min-height: 12rem;
  max-height: 15rem;
  max-width: 20vw;
}
section#machines div#ipad {
  background: #052f3f;
  padding-top: 30rem;
}
section#machines div#ipad #triggerlines {
  position: absolute;
  opacity: 0;
  height: 10px;
  width: 10px;
  bottom: -200rem;
}
section#machines div#ipad .ipad_holder {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section#machines div#ipad .ipad_holder .ipad {
  margin: 3rem;
}
section#machines div#ipad .ipad_holder .ipad img {
  width: 100%;
  max-width: 30rem;
}
section#machines div#ipad .ipad_holder .overipadtext {
  padding: 1rem;
  opacity: 0;
  position: absolute;
  top: -3rem;
  max-width: 50rem;
}
section#machines div#ipad .ipad_holder .overipadtext p {
  font-size: calc(2rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
section#machines div#ipad .leaf_holder {
  position: absolute;
  left: -40%;
  bottom: 37%;
  width: 50%;
  height: 50%;
}
section#machines div#ipad .leaf_holder .leaf_a {
  opacity: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/leaf_a.png");
  position: absolute;
  bottom: 30%;
  left: 0%;
  max-width: 50%;
}
section#machines div#ipad .leaf_holder .leaf_a img {
  opacity: 0;
}
section#machines div#ipad .leaf_holder .leaf_b {
  opacity: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/leaf_b.png");
  position: absolute;
  bottom: 30%;
  left: 0%;
  max-width: 50%;
}
section#machines div#ipad .leaf_holder .leaf_b img {
  opacity: 0;
}
section#machines div#ipad .tablet_man_left {
  position: absolute;
  left: 1rem;
}
@media screen and (min-width: 1024px) {
  section#machines div#ipad .tablet_man_left {
    bottom: 0%;
    width: 15%;
  }
}
@media screen and (max-width: 1023px) {
  section#machines div#ipad .tablet_man_left {
    bottom: 20%;
    width: 27%;
  }
}
section#machines div#ipad .tablet_man_left .talking_speech_left,
section#machines div#ipad .tablet_man_left .talking_speech_left_b {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/talking_head_balloon_left.png");
  padding: 2rem;
  position: absolute;
  max-width: 30rem;
  bottom: 70%;
  left: 6%;
  opacity: 0;
}
section#machines div#ipad .tablet_man_left .talking_speech_left img,
section#machines div#ipad .tablet_man_left .talking_speech_left_b img {
  max-width: 35rem;
  opacity: 0;
}
section#machines div#ipad .tablet_man_left .talking_speech_left p,
section#machines div#ipad .tablet_man_left .talking_speech_left_b p {
  position: absolute;
  top: 30%;
  left: 25%;
  max-width: 63%;
  margin-left: 5%;
  font-size: calc(1rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
section#machines div#ipad .tablet_man_left .talking_head_left {
  width: 80%;
  margin-top: 10%;
  opacity: 0;
}
section#machines div#ipad .tablet_man_right {
  position: absolute;
  right: 5%;
}
@media screen and (min-width: 1024px) {
  section#machines div#ipad .tablet_man_right {
    bottom: 0%;
    width: 15%;
  }
}
@media screen and (max-width: 1023px) {
  section#machines div#ipad .tablet_man_right {
    bottom: 20%;
    width: 27%;
  }
}
section#machines div#ipad .tablet_man_right .talking_speech_right,
section#machines div#ipad .tablet_man_right .talking_speech_right_b {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/talking_head_balloon_right.png");
  padding: 2rem;
  position: absolute;
  max-width: 30rem;
  bottom: 75%;
  right: 6%;
  opacity: 0;
}
section#machines div#ipad .tablet_man_right .talking_speech_right img,
section#machines div#ipad .tablet_man_right .talking_speech_right_b img {
  max-width: 35rem;
  opacity: 0;
}
section#machines div#ipad .tablet_man_right .talking_speech_right p,
section#machines div#ipad .tablet_man_right .talking_speech_right_b p {
  position: absolute;
  top: 30%;
  left: 0;
  max-width: 63%;
  margin-left: 15%;
  font-size: calc(1rem + 0.1vw);
  color: #052f3f;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
section#machines div#ipad .tablet_man_right .talking_head_right {
  width: 80%;
  margin-top: 10%;
  opacity: 0;
}
section#machines .canvas_a {
  position: absolute;
  width: 100%;
  max-width: 70rem;
}
section#machines .canvas_a svg, section#machines .canvas_a img {
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  width: 63vw !important;
  height: 150vh !important;
  margin-left: 8vw;
  margin-top: -5rem;
}
section#machines .canvas_a svg #polyline_a, section#machines .canvas_a img #polyline_a {
  stroke-dasharray: 3600;
  stroke-dashoffset: 3600;
}
@media screen and (min-width: 1366px) {
  section#machines .canvas_a svg #polyline_a, section#machines .canvas_a img #polyline_a {
    transition: stroke-dashoffset 0.25s linear;
  }
}
@media screen and (max-width: 1365px) {
  section#machines .canvas_a svg #polyline_a, section#machines .canvas_a img #polyline_a {
    transition: stroke-dashoffset 1.35s linear;
  }
}
section#machines .canvas_b {
  position: absolute;
  width: 100%;
  max-width: 50rem;
}
section#machines .canvas_b svg, section#machines .canvas_b img {
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  width: 35vw !important;
  height: 150vh !important;
  margin-left: 8vw;
  margin-top: -5rem;
}
section#machines .canvas_b svg #polyline_b, section#machines .canvas_b img #polyline_b {
  stroke-dasharray: 2800;
  stroke-dashoffset: 2800;
}
@media screen and (min-width: 1366px) {
  section#machines .canvas_b svg #polyline_b, section#machines .canvas_b img #polyline_b {
    transition: stroke-dashoffset 0.35s linear;
  }
}
@media screen and (max-width: 1365px) {
  section#machines .canvas_b svg #polyline_b, section#machines .canvas_b img #polyline_b {
    transition: stroke-dashoffset 1s linear;
  }
}
section#machines .canvas_c {
  position: absolute;
  width: 100%;
  max-width: 50rem;
}
section#machines .canvas_c svg, section#machines .canvas_c img {
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  width: 35vw !important;
  height: 150vh !important;
  margin-left: -6rem;
  margin-top: -5rem;
}
section#machines .canvas_c svg #polyline_c, section#machines .canvas_c img #polyline_c {
  stroke-dasharray: 2800;
  stroke-dashoffset: 2800;
}
@media screen and (min-width: 1366px) {
  section#machines .canvas_c svg #polyline_c, section#machines .canvas_c img #polyline_c {
    transition: stroke-dashoffset 0.5s linear;
  }
}
@media screen and (max-width: 1365px) {
  section#machines .canvas_c svg #polyline_c, section#machines .canvas_c img #polyline_c {
    transition: stroke-dashoffset 1.5s linear;
  }
}

/********************/
/*** section_4 *****/
/********************/
section.section_4 {
  background: #fff8f0;
  height: 100vh;
  width: 100%;
  position: relative;
}
section.section_4 .map_holder {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
section.section_4 .simplemap_text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
section.section_4 .simplemap_text p {
  max-width: 70%;
  position: relative;
  color: #052f3f;
  font-weight: 600;
  text-align: center;
  font-size: calc(1.7rem + 0.1vw);
  font-family: "Roboto", sans-serif;
}

/********************/
/*** ********** *****/
/********************/
section.section_5 {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
}
section.section_5 .container {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
section.section_5 .usp_holder {
  display: flex;
  width: 100%;
  height: 30rem;
  margin-top: -15%;
  justify-content: space-between;
}
section.section_5 .usp_holder .usp_block {
  width: 30%;
  transform: translateX(-150%);
  opacity: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
section.section_5 .usp_holder .usp_block p {
  margin-top: 70%;
  max-width: 70%;
  margin-left: 15%;
  text-align: center;
  color: #052f3f;
}

/********************/
/*** ********** *****/
/********************/
section.section_6 {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
}
section.section_6 .container {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
section.section_6 .container .testimonials_holder {
  display: flex;
  width: 100%;
  height: 30rem;
  margin-top: -15%;
  justify-content: space-between;
}
section.section_6 .container .testimonials_holder .person.testimonial_person {
  width: 40%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
section.section_6 .container .testimonials_holder .testimonial_speech {
  width: 60%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
section.section_6 .container .testimonials_holder .testimonial_speech .innerspeech {
  padding: 8%;
  max-width: 50%;
  margin-left: 22%;
  margin-top: 3%;
}
section.section_6 .container .testimonials_holder .testimonial_speech .innerspeech p {
  color: #052f3f;
}

/********************/
/*** ********** *****/
/********************/
section.section_7 {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
section.section_7 .container {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
section.section_7 .container .staff_holder {
  display: flex;
  width: 100%;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: portrait) {
  section.section_7 .container .staff_holder {
    flex-direction: column;
  }
}
section.section_7 .container .staff_holder .staff_person {
  opacity: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.section_7 .container .staff_holder .staff_person img.dummio {
  opacity: 0;
}
section.section_7 .container .staff_holder .staff_person .staff_details {
  opacity: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/big_staff_left_bubble.png");
  max-width: 40rem;
  position: absolute;
  bottom: 80%;
  left: -20%;
}
section.section_7 .container .staff_holder .staff_person .staff_details .innertext {
  position: absolute;
  width: 80%;
  top: 33%;
  left: 33%;
}
section.section_7 .container .staff_holder .staff_person .staff_details .innertext h4 {
  font-size: calc(2.5rem + 0.1vw);
  margin: 0;
  margin-bottom: 0.5rem;
}
section.section_7 .container .staff_holder .staff_person .staff_details .innertext p {
  font-size: calc(1.75rem + 0.1vw);
  margin: 0;
  margin-bottom: 0.5rem;
}
section.section_7 .container .staff_holder .staff_person:hover .staff_details {
  opacity: 1;
}

/********************/
/*** ********** *****/
/********************/
section.section_8 {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
}
section.section_8 .container {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
section.section_8 .container .grid_zone {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.section_8 .container .grid_zone .grid_box {
  width: 33%;
}
section.section_8 .container .grid_zone .grid_box .innerbox {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/six_grid_back.png");
  width: 100%;
}
section.section_8 .container .grid_zone .grid_box .innerbox img {
  opacity: 0;
}
section.section_8 .container .grid_zone .grid_box .innerbox p {
  position: absolute;
  width: 60%;
  left: 20%;
  padding: 2rem;
  height: 100%;
  top: 1rem;
  margin-left: 0 !important;
}
section.section_8 .container .grid_zone .grid_box p {
  width: 70%;
  margin-left: 20%;
}

footer.opn_footer {
  padding: 1.5rem;
  background-color: #052f3f;
}
footer.opn_footer .footer_items {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.opn_footer .footer_items a {
  color: #fff;
  font-size: 1.5rem;
}

/********************/
/*** side_menu *****/
/********************/
.side_menu {
  position: fixed;
  padding-top: 2rem;
  top: 0;
  left: 0;
  width: 8rem;
  background: #fcfcfa;
  z-index: 999;
  height: 100%;
}
.side_menu #dummypadder {
  opacity: 0;
  height: 10px;
  width: 10px;
}
.side_menu #titletest {
  position: fixed;
  bottom: 3rem;
  left: 1;
  font-size: calc(2rem + 0.1vw);
}
.side_menu figure {
  text-align: center;
}
.side_menu figure img {
  width: 70%;
}
.side_menu ul {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side_menu ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}
.side_menu ul li a {
  text-decoration: none;
}
.side_menu ul li a .innercircle {
  box-shadow: 0px 0px 1px 2px #fcfcfa;
  border: 3px solid #fcfcfa;
  background: #052f3f;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0.25rem;
  position: relative;
  z-index: 1;
}
.side_menu ul li a .innercircle:before {
  content: "";
  border-right: 1px solid #052f3f;
  display: block;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 120%;
  z-index: 3;
}
.side_menu ul li a .innercircle.activio {
  box-shadow: 0px 0px 1px 2px #052f3f;
  border: 3px solid #fcfcfa;
}
.side_menu ul.disabler {
  pointer-events: none;
}
.side_menu ul.disabler li {
  opacity: 0.5;
}

.portraitlocker {
  display: none;
}
@media screen and (orientation: landscape) {
  .portraitlocker {
    background: #33bec3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

body.device--mid {
  border: 2px solid #33bec3;
}